<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Extremis.Server</title>
    <link rel="stylesheet" href="@("https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css")">
    <link rel="stylesheet" href="@("https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css")">
    <link rel="stylesheet" href="~/app.css">
</head>
<body class="page">
<header class="navbar navbar-expand-md d-print-none navbar-light sticky-top">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href=".">
                <img src="/image/logo.png" height="2.25rem" alt="Extremis" class="navbar-brand-image ">
            </a>
        </h1>
        <div class="navbar-collapse collapse ms-2">
            <ul class="navbar-nav mr-auto">
                @* <li class="nav-item"> *@
                @*     <a class="nav-link" href="/">Home</a> *@
                @* </li> *@
            </ul>
        </div>
    </div>
</header>
<div class="container">
    <main role="main" class="mt-3">
        @RenderBody()
    </main>
</div>

<footer class="footer text-muted mt-auto">
    <div class="container-xl">
        &copy; 2022 - Extremis
    </div>
</footer>
<script src="@("https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js")"></script>
</body>
</html>